<mat-tab-group dynamicHeight="true">
  <mat-tab label="Департаменты">
      <div class="row">
        <div class="col-md-5">
          <app-department></app-department>
        </div>
        <div class="col-md-7">
          <app-departments-list></app-departments-list>
        </div>
      </div>
  </mat-tab>
  <mat-tab label="Сотрудники">
    <div class="row">
      <div class="col-md-5">
        <app-worker></app-worker>
      </div>
      <div class="col-md-7">
        <app-workers-list></app-workers-list>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>