<div class="search-div">
</div>
<div class="card">
  <table matSort mat-table [dataSource]="service.matList" class="table">
    <ng-container matColumnDef="DepartmentName">
      <mat-header-cell mat-sort-header *matHeaderCellDef >Название</mat-header-cell>
      <mat-cell *matCellDef="let dep">{{dep.DepartmentName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Location">
      <mat-header-cell   mat-sort-header *matHeaderCellDef>Расположение</mat-header-cell>
      <mat-cell *matCellDef="let dep">{{dep.Location}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let dep">
          <button (click)="chooseForm(dep)" mat-button><i  title="Редактировать" class="far fa-edit"></i></button>
          <button (click)="onDelete(dep.Id)" mat-button><i  title="Удалить" class="far fa-trash-alt"></i></button>
          <button mat-button><i title="Список сторудников" class="fas fa-user-friends"></i></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Загрузка данных...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Данные отсутствуют.
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let dep; columns: displayedColumns"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':service.matList!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(service.matList!=null && service.matList.data.length ==0)}"></mat-footer-row>
  </table>  
 <mat-paginator #paginator [pageSize]="5"> </mat-paginator>
  <!--(page)="pageEvent = service.getDepartmentsList(sort, paginator, $event)"-->
</div>








<!-- <table class="table table-hover">
  <thead>
      <tr>
        <th>Название</th>
        <th>Расположение</th>
        <th colspan="2">Действия</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dep of matList">
      <td>{{dep.DepartmentName}}</td>
      <td>{{dep.Location}}</td>
      <td><i (click)="chooseForm(dep)" title="Редактировать" class="far fa-edit"></i></td>
      <td><i (click)="onDelete(dep.Id)" title="Удалить" class="far fa-trash-alt"></i></td>
      <td><i title="Список сторудников" class="fas fa-user-friends"></i></td>
    </tr>
  </tbody>
  <mat-paginator [length]="6"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10]">
  </mat-paginator>
</table> -->
